In [2]:
import pandas as pd
import odfpy
df = pd.read_excel("/Users/chawkibhd/Downloads/projetDM/BMGs-2024.ods", engine="odf")

print(df.head())

ModuleNotFoundError: No module named 'odfpy'

In [3]:
xls = pd.ExcelFile("/Users/chawkibhd/Downloads/projetDM/BMGs-2024.ods", engine="odf")
print(xls.sheet_names)

['Sheet1', 'Dataset']

In [4]:
df = pd.read_excel(xls, sheet_name="Sheet1", engine="odf")
print(df.head())

           Alloys (compostion)  Tg(K)  Tx(K)  Tl(K)  Dmax (mm)
0  Ag30.8 Ca30.8 Mg23.1 Cu15.4  413.0  432.0  803.0        2.5
1         Ag38.4 Mg30.8 Ca30.8  394.0  426.0  805.0        0.5
2     Ag38.5 Ca30.8 Mg23 Cu7.7  384.0  416.0  854.0        2.0
3   Ag38.5 Mg38.5 Ca15.4 Cu7.7  405.0  436.0  842.0        0.5
4         Ag46.2 Ca30.7 Mg23.1  399.0  426.0  765.0        0.7

In [5]:
df.head()

           Alloys (compostion)  Tg(K)  Tx(K)  Tl(K)  Dmax (mm)
0  Ag30.8 Ca30.8 Mg23.1 Cu15.4  413.0  432.0  803.0        2.5
1         Ag38.4 Mg30.8 Ca30.8  394.0  426.0  805.0        0.5
2     Ag38.5 Ca30.8 Mg23 Cu7.7  384.0  416.0  854.0        2.0
3   Ag38.5 Mg38.5 Ca15.4 Cu7.7  405.0  436.0  842.0        0.5
4         Ag46.2 Ca30.7 Mg23.1  399.0  426.0  765.0        0.7

In [6]:
def process_row(row):
    for i in len(row["Alloys (compostion)"]):
        word += row["Alloys (compostion)"][i]
        
            if isinstance(i, (int, float)):
                for j in len(row["Alloys (compostion)"]):
                    number += row["Alloys (compostion)"][j]
                    if j == " ":
                        break;
                
            if (isinstance(i, (int, float)):
                if word == "Ag":
                    return number
                else:
                    return 0

IndentationError: unexpected indent (964462527.py, line 5)

In [ ]:
# We're going to create 4 columns 
# We're going to read every row and check if one the created column exsist 
# If it exsist we place the value of that row in the specific column

df["Ag"] = df.apply(process_row, axis=1)
df["Ca"]
df["Mg"]
df["Cu"]

In [9]:
import re

def parse_alloys(row):
    matches = re.findall(r'([A-Za-z]+)([0-9.]+)', row)
    result = {}
    for element, value in matches:
        result[element] = float(value)
    return result
row = "Ag38.4 Mg30.8 Ca30.8"
print(parse_alloys(row))

{'Ag': 38.4, 'Mg': 30.8, 'Ca': 30.8}

In [9]:
'''
import numpy as np

def safe_float(value):
    try:
        return float(value)
    except (ValueError, TypeError):
        return np.nan

for element in all_elements:
    df[element] = parsed.apply(lambda x: safe_float(x[element]) if element in x else np.nan)
    '''

In [13]:
import numpy as np
import re

def parse_alloys(row):
    if isinstance(row, str):
        #cleaned = re.sub(r'[\(\[].*?[\)\]]\d*', '', row)
        return dict(re.findall(r'([A-Za-z]+)([0-9.]+)', row))
    else:
        return {}

parsed = df["Alloys (compostion)"].apply(parse_alloys)

all_elements = set()
for row_dict in parsed:
    all_elements.update(row_dict.keys())

for element in all_elements:
    df[element] = parsed.apply(lambda x: float(x[element]) if element in x else np.nan)

print("JAI FINI!!!!!")
print(f"Colonnes ajoutées : {sorted(all_elements)}")

JAI FINI!!!!!
Colonnes ajoutées : ['Ag', 'Al', 'Au', 'B', 'Be', 'C', 'Ca', 'Ce', 'Co', 'Cr', 'Cu', 'Dy', 'Er', 'Fe', 'Ga', 'Gd', 'Hf', 'Ho', 'In', 'L', 'La', 'Mg', 'Mm', 'Mn', 'Mo', 'MoB', 'Nb', 'Nd', 'Ni', 'P', 'Pd', 'Pr', 'S', 'Sc', 'Si', 'Sm', 'Sn', 'Ta', 'Tb', 'Ti', 'Tm', 'V', 'W', 'Y', 'Zn', 'Zr', 'd']

In [14]:
print(len(all_elements))

47

In [11]:
df.head()

,Alloys (compostion),Tg(K),Tx(K),Tl(K),Dmax (mm),Zr,W,Ca,Y,Nb,...,Pd,Ce,Tb,Al,Cu,Fe,Ag,Ta,Ga,L
0,Ag30.8 Ca30.8 Mg23.1 Cu15.4,413.0,432.0,803.0,2.5,NaN,NaN,30.8,NaN,NaN,...,NaN,NaN,NaN,NaN,15.4,NaN,30.8,NaN,NaN,NaN
1,Ag38.4 Mg30.8 Ca30.8,394.0,426.0,805.0,0.5,NaN,NaN,30.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,38.4,NaN,NaN,NaN
2,Ag38.5 Ca30.8 Mg23 Cu7.7,384.0,416.0,854.0,2.0,NaN,NaN,30.8,NaN,NaN,...,NaN,NaN,NaN,NaN,7.7,NaN,38.5,NaN,NaN,NaN
3,Ag38.5 Mg38.5 Ca15.4 Cu7.7,405.0,436.0,842.0,0.5,NaN,NaN,15.4,NaN,NaN,...,NaN,NaN,NaN,NaN,7.7,NaN,38.5,NaN,NaN,NaN
4,Ag46.2 Ca30.7 Mg23.1,399.0,426.0,765.0,0.7,NaN,NaN,30.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,46.2,NaN,NaN,NaN

In [22]:
df.to_excel('output.xlsx', index=False)